h1, h2 {
    text-align: center;
}

nav {
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;    
}

nav a {
    font-style: Impact, sans-serif;
    color:white;
    margin-left: 5px;
    background-color: #2d00712e;
    border-radius: 5px;
    padding: 6.5px;
    transition: all 0.5s ease;
    text-decoration: none;
}
nav a:hover {
    color: black;
    font-size: 18px;
}    

nav ul {
    list-style-type: none;
    padding-left: 38%;
    background-color: grey;
    border-radius: 10px;
    padding-right: 10px;
}
nav li {
    display: inline-block;
    margin-right: 10px;
    padding: 5px;
}

body {
    background-color: black;
    color: white;
}
h1 {
    background-color: grey;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;

}